extends r

snippet cols "columns" b
::::{.columns}
$1
::::
endsnippet


snippet col "column" b
:::{.column}
$1
:::
endsnippet

snippet frag "fragment" b
:::{.fragment}
$1
:::
endsnippet

snippet inc "incremental" b
:::{.incremental}
$1
:::
endsnippet

